# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
Old scripts/pupil_arousal_datarmd.nb.html
tmp.df4_sum_full_bio_hr_self_parsed_345_356.csv
PCA_clust.tiff
patch_plot1.png
tmp.df4_sum_full_bio_hr_self_parsed_345_356.csv
tmp.df4_sum_full_bio_hr_self_parsed_345_356.csv
gaze_control.tiff
SubjObjdataset.RDataTmp
figs.pptx
Plots1.tiff
Rplot01.tiff
Rplot02.tiff
Rplot05.tiff
SubjObjdataset.RData
subjobjPCAfeb9.RData
testpatchres.tiff
testplot.pptx
tmp.df4_sum_full_bio_hr_self_parsed_345_356.csv
tmp.df4_sum_full_bio_hr_self_parsed_345_356.csv
tmp.df4_sum_full_bio_hr_self_parsed_345_356.csv
Rplot.tiff
